.container {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 2%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.add {
    background-color: rgb(129, 235, 129);
    border: none;
    border-radius: 7%;
    padding: 5% 10%;
    margin: 4%;
    color: rgb(52, 121, 54);
}

.delete {
    background-color: rgb(241, 141, 132);
    border: none;
    border-radius: 7%;
    padding: 5% 10%;
    margin: 4%;
    color: rgb(148, 65, 63);
}

.input {
    font-size: 1.5rem;

}

.input::placeholder {
    color: rgb(156, 156, 156);
    padding: 2%;
}

.queue {
    border:1px solid rgb(167, 166, 166);
    width:70vw;
    height: 80vh;
}
.text{
margin: 15px;
}

